<div class="shop-home">
    <div class="shop-home__content">
      <h1 class="shop-home__content__title">Senses Shop</h1>
      <h2 class="shop-home__content__subtitle">Example Shop</h2>
      <p class="shop-home__content__lead">Welcome to your demo shop.</p>
      <button class="btn btn--inverted btn--large" routerLink="/shop" role="button">
        <span class="btn__text">Try it out now</span>
      </button>
      <p class="shop-home__content__note">*Please note that none of the orders made here will be honored.</p>
    </div>

    <div class="shop-home__background">
      <div class="shop-home__background__overlay"></div>
      <video loop muted autoplay poster="/assets/videos/video.png" class="shop-home__background__video">
        <source src="/assets/videos/video.mp4" type="video/mp4">
      </video>
    </div>
    <div class="shop-home__row">

    </div>
</div>
