@import '~styles.scss';

.shipping {
    font-family: $font-family-primary;
    width: 60rem;
    padding: 2rem 2rem;
    box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.2);
    &__title {
        font-size: 2rem;
        margin: 2rem 1rem;
        padding: 1rem;
        font-family: $font-family-secondary;
    }
    &__form {
        display: grid;
        width: 70%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr); 
    }
}

.form__group {
    grid-column: auto / span 1;
    &--long {
        grid-column: 1 / span 2;
    }
}